/* CSS GRID */
body {
    display: grid;
    grid-template-rows: 50px 1fr 30px;
    grid-template-columns: 20% 1fr;
    grid-gap: .5rem;
}

body > header {
    background: aqua;
    color: white;
    grid-column-start: 1;
    grid-column-end: 3;

}

aside {
    background: green;
    color: white;
    grid-column-start: 1;
    grid-column-end: 2;
}

main {
    background: darkmagenta;
    color: white;
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-rows: 15% 85%;
    grid-template-columns: repeat(2, 1fr);
    padding: 5px;
    min-height: 20rem
}

main > header {
    background: darkorange;
    grid-column-start: 1;
    grid-column-end: 3;
}

body > footer {
    background: darkred;
    color: white;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
}
