/* DevNotes : Martin Hwang : resume@martinhwang.ca */
/*
0  82  35	green dark #005223
0 163  73	green medium #00a349
0 240 112	green light #00f070
137 255 188	green lighter #89ffbc
244 255 249	white #f4fff9
0  25  11	black #00190b
255 188 102	notice #0049a3
0 163  73	link #00a349
0 240 112	hover #00f070
0  48  20	visited #003014
*/

body {
    background: #00190b;
}

body > header {
    background: #00a349;
}

body > header span {
    color: #f4fff9;
}

aside {
    background: #00a349;
    color:      #f4fff9;
}

aside nav a:active,
aside nav a:hover,
aside nav a:link,
aside nav a:visited {
    color: #f4fff9;
}

main {
    background: #f4fff9;
    color:      #00190b;
}

#notice {
    background: #0049a3;
}

body > footer {
    background: #00a349;
    color:      #f4fff9;
}

/* -----------------------------------------------------------------*/

a:link {
    color: #00a349;
}

a:active,
a:hover {
    color: #00f070;
}

a:visited {
    color: #003014;
}

h1 {
    color: #00190b;
}

h2 {
    color: #00a349;
}

h3 {
    color: #00190b;
}

hr {
    background: #005223;
    color:      #005223;
}

a.actions:link,
a.actions:visited {
    color: #00a349;
}

a.actions:active,
a.actions:hover {
    color: #00f070;
}

.list.objectList a:link,
.list.objectList a:visited {
    color: #00a349;
}

.list.objectList a:active,
.list.objectList a:hover {
    color: #00f070;
}

/* Material Icons --------------------------------------------------*/

.material-icons:hover {
    color: #00f070;
}

/* Forms -----------------------------------------------------------*/

label input,
label select,
label textarea {
    background: white;
    border:     1px solid #00a349;
}

button {
    background: #89ffbc;
    border:     1px solid #00a349;
}

button:active,
button:focus,
button:hover {
    background: #00a349;
    color:      #f4fff9;
}

/* -----------------------------------------------------------------*/
